body {
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
  margin: 10px;
}

.section.what li {
  line-height: 120%;
}

.logo img {
  height: 40px;
}
.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 5px 10px;
}

/*.messages li:nth-child(odd) {*/
.messages li.odd {
    background: #eee;
}
